*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-container {
    width: 50%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}




form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333333;
    margin-top: 15px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
}

textarea {
    
    height: 150px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.cn{
    margin-bottom: 20px;
    text-align: center;
    color: #097ec1 ;

}
.dis{
    text-align: center;
    margin-left:40px ;
    margin-right: 40px;
    font-weight: bold;
    font-size: 15px;

}
button:hover {
    background-color: #218838;
    
}